@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Nunito+Sans:opsz@6..12&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

:root{
    --color1:  rgb(54 171 205);
}





 




nav{
    position: sticky;
    top: 0px;
}
.mainimg{
    width: 175px;
    height: auto;
}

.navitems{
    list-style: none;
    margin-left: 23px;
}

.navitems > a{
    text-decoration: none;
    color: black;
}

.navbar{
    align-items: center;
    justify-content: center;
    margin-top: 19px;
}

.navbar , .navlist{
    display: flex;

}

.anchimg{
    position: relative;
}

.midnav{
    width: 530px;
}









.main1{
    width: 77%;
    text-align: center;
    margin: auto;
    margin-top: 85px;
}

.head1{
    font-size: 48px;
    font-weight: lighter;
}

.head1 > span{
    font-weight: bold;
}

.head1 > img{
    cursor: pointer;
}

.head2{
    margin-top: 33px;
    font-weight: lighter;
}

.main1 > button{
    font-weight: bold;
    background-color:var(--color1);
    border-radius: 4px;
    color: white;
    padding: 13px 19px;
    border: none;
    margin-top: 33px;
    cursor: pointer;
}

.bodyimg{
    width: 61px;
}

.mainbottom{
    display: flex;
    align-items: center;
    margin-top: 68px;
}

.mainbottom > h2{
    margin-left: 23px;
}

.mainbottom > span{
    margin-left: 7px;
}

.main_container{
    width: 87%;
    margin: auto;
    margin-top: 37px;
    margin-bottom: 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.download_container{
    margin: 8px;
    width: 30%;
    text-align: center;
    background-color: rgb(238 238 238);
    border-radius: 4px;
}

.download_container > h3{
    font-weight: 900;
    padding-top: 19px;
    margin-bottom: 50px;
}

.download_container_button{
    width: 41%;
    border: none;
    color: white;
    background-color: var(--color1);
    font-weight: bold;
    padding: 8.5px 2px;
    margin-bottom: 18px;
    cursor: pointer;
}

.second_button{
    background-color: #2cb92c;
}








.sec_container{
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(38, 38, 38);
}

.sec_container_upper{
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_container_txt{
    width: 35%;
    text-align: center;
}

.sec_container_form{
    width: 300px;
    height: 230px;
    border-radius: 4px;
    text-align: center;
    background-color: white;
    color: black;
}

.sec_container_form_head{
    margin-top: 23px;
    color: var(--color1);
}

.sec_container_mid{
    width: 103px;
}

.emailpart{
    margin-top: 12px;
    margin-bottom: 12px;
}

#newsemail{
    width: 80%;
    padding: 12px;
    border: .3px solid rgb(190, 190, 190);
    border-radius: 5px;
}
.email_name{
    display: block;
}

#submit{
    display: none;
}

#submit_signup{
    width: 89%;
    padding: 7px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    background-color: var(--color1);
    cursor: pointer ;
}

.sec_container_2{
    width: 80%;
    margin: auto;
    padding-bottom: 37px;
}

.sec_container_2_one{
    line-height: 39px;
    margin-bottom: 23px;
}

.sec_container_2_two{
    line-height: 37px;
}








.footer_part{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 43px;
}

.footer_part_one , .footer_part_two , .footer_part_three , .footer_part_four{
    margin-left: 70px;
}

.footer_part_one > ul >li{
    list-style: none;
}

.footer_part_two > ul > li{
    list-style: none;
}

.footer_part_three > ul > li{
    list-style: none;
}


#footernewsemail{
    width: 180px;
    margin-bottom: 7px;
}

.footsubmit{
    background-color: var(--color1);
    border: none;
    width: 100px;
    padding: 3px 2px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#footsubmit{
    display: none;
}

.footer_part_img > img{
    width: 175px;
    height: auto;
}

.footer_part_img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;
    margin-top: 12px;
}

.footer_part_img > p{
    margin-left: 7px;
}